@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #ffffff;
    --primary-color: #e4e3d3;
    --secondary-color: #91785d;
    --dark-color: #000000;
}

body {
    font-family: 'Montserrat', sans-serif;
    accent-color: var(--secondary-color);
    user-select: none;
    background: var(--primary-color);
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    min-height: 95vh;
}

.container-left {
    width: clamp(300px, 40%, 400px);
    margin: 0.6rem;
    border-radius: 8px;
    background: var(--secondary-color);
    height: 95vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
}

.container-left .logo {
    width: 10rem;
    border-radius: 8px;
    height: auto;
    margin: 2rem 1.5rem;
    cursor: pointer;
}

.container-left h1 {
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.3rem;
    margin: 4rem 2rem 0.8rem 1.8rem;
}

.container-left p {
    color: var(--main-color);
    margin: 0.5rem 3rem 0 1.68rem;
}

.feedback-container {
    background: #6d5944;
    height: 12rem;
    width: 80%;
    border-radius: 8px;
    margin: 8rem 1.7rem 0 1.7rem;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 4rem;
    cursor: pointer;
}

.feedback-container2 {
    transform: translateX(-400px);
    opacity: 0;
}

.feedback-container3 {
    transform: translateX(-400px);
    opacity: 0;
}


.box-to-left {
    animation: box-to-left 1s ease 1 forwards;
}

.left-to-box {
    animation: left-to-box 1s ease 1 forwards;
}


@keyframes box-to-left {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }
    to {
        transform: translateX(-0px);
        opacity: 1;
    }
}

@keyframes left-to-box {
    from {
        transform: translateX(0px);
        opacity: 1;
    }
    to {
        transform: translateX(-400px);
        opacity: 0;
    }
}


.feedback-container p {
    font-size: 0.8rem;
    line-height: 20px;
}

.feedback-container .profile-pic {
    width: 45px;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0 0 1.6rem;
    user-select: none;
}

.profile-data-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -1rem;
    margin-top: 1rem;
    line-height: 1;
}

p.profile-position {
    margin-top: -.1rem;
    font-size: 0.6rem;
    color: #cccccc;
}

.menu-container {
    position: absolute;
    bottom: 35px;
    left: 170px;
    gap: 7px;
}


.dot {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: var(--main-color);
    cursor: pointer;
}


.second-review, .third-review {
    background: #a7a7a7;
}


.container-right {
    flex: 2;
    background: var(--main-color);
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 1rem;
    background: var(--primary-color);
}

.container-right h2 {
    margin: 1rem 0.5rem;
    font-size: 2rem;
}

.container-right p.already-account {
    margin: 0.5rem;
}

.already-account a {
    text-decoration: none;
    color: rgb(69, 119, 194);
    font-weight: 500;
}

.customization, .email-p, .pass-p {
    margin: 2.5rem 0 0.4rem 0.5rem;
    font-weight: 500;
    color: #707070;
}

.custom-container {
    margin-bottom: -1rem;
    justify-content: flex-start;
}

.pro-container, .stu-container {
    border: 1px solid grey;
    padding: 1rem 3rem 1rem 0.3rem;
    cursor: pointer;
    margin: 0.5rem;
    border-radius: 8px;
}

.checked-container {
    border: 1px solid var(--secondary-color);
}

.stu-container {
    padding-right: 6rem;
}


#pro, #stu {
    margin: 0 0.5rem;
}

label {
    cursor: pointer;
    font-size: 0.9rem;
}

#email, #pass {
    margin: 0.5rem;
    padding: 0.8rem 0 0.7rem 0.7rem;
    border-radius: 8px;
    border: 1px solid grey;
    font-size: 1rem;
    margin-bottom: -3rem;
}

input:focus {
    outline: none;
}

#btn {
    padding: 1rem 2rem;
    margin: 2.5rem 0.5rem;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    background: var(--secondary-color);
    color: var(--main-color);
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.2s all ease;
}

#btn:hover {
    background: #6d5944;
}

#tncs {
    margin: 3rem 0 0 0.5rem;
}


#label-tncs a {
    color: rgb(69, 119, 194);
}

.show {
    margin: -0.9rem 0.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(65, 65, 65);
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 8px;
}

.qr-code-img {
    height: auto;
    width: 5%;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    transition: 0.2s all ease;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.qr-code-img:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}


@media only screen and (max-width: 1060px) {
    .container-main {
        flex-direction: column;
    }
    .container-left {
        height: 300px;
        width: 100%;
    }
    .feedback-container {
        display: none;
    }
    .container-left h1 {
        margin-top: -1rem;
    }
    .dot {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    .custom-container .pro-container, .stu-container{
        padding: 0.7rem;
    }
}
